<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Web API Drag and Drop</title>
    <link rel="stylesheet" href="../static/drag-and-drop.css" th:href="@{/drag-and-drop.css}"/>
</head>
<body>
<h1>Web API Drag and Drop (Thymeleaf version)</h1>
<p>Drag items from the "Drag" zone to the "Drop" zone to move them around.</p>
<div id="dragzone">
    <div th:each="item : ${items}" th:id="${item?.id}" class="item" draggable="true" th:text="${item?.title}">Item 1</div>
</div>
<div id="dropzone"></div>
<script src="../static/drag-and-drop.js" th:src="@{/drag-and-drop.js}"></script>
</body>
</html>
