<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Drag and Drop Example</title>
    <link rel="stylesheet" href="../static/drag-and-drop.css" th:href="@{/drag-and-drop.css}">
</head>
<body>
<h1>Web API Drag and Drop (javascript version)</h1>
<p>Drag items from the "Drag" zone to the "Drop" zone to move them around.</p>
<div id="dragzone">
    <div id="item1" class="item" draggable="true">Item 1</div>
    <div id="item2" class="item" draggable="true">Item 2</div>
    <div id="item3" class="item" draggable="true">Item 3</div>
</div>
<div id="dropzone"></div>
<script src="../static/drag-and-drop.js" th:src="@{/drag-and-drop.js}"></script>
</body>
</html>
